img {
  max-height: 400px;
  max-width: 400px;
}

.formGroup {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

button[type="submit"] {
  border: none;
  outline: none;
  padding: 16px;
  background-color: royalblue;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  transition: scale, 0.25s;

  &:hover:not(:disabled) {
    scale: 1.1;
  }

  &:disabled {
    background-color: grey;
    cursor: default;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it's on top */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
    display: none;
}